useDynLib(magma)

export(
   "forwardsolve",
   "magma"
)

exportClasses(
   "magma",
   "magmaLU",
   "magmaQR"
)

exportMethods(
   "Arith",
   "%*%",

   "backsolve",
   "chol",
   "chol2inv",
   "crossprod",
   "gpu",
   "gpu<-",
   "lu",
   "qr",
   "show",
   "solve",
   "tcrossprod"
)

  
